<?xml version="1.0"?>
<config>
    <modules>
        <SgEcom_Upsap>
            <version>2.8.2</version>
        </SgEcom_Upsap>
    </modules>
    <frontend>
        <routers>
            <upsap>
                <use>standard</use>
                <args>
                    <module>SgEcom_Upsap</module>
                    <frontName>upsap</frontName>
                </args>
            </upsap>
        </routers>
        <layout>
            <updates>
                <upsap>
                    <file>upsap.xml</file>
                </upsap>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SgEcom_Upsap after="Mage_Adminhtml">SgEcom_Upsap_Adminhtml</SgEcom_Upsap>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales module="sales">
                <children>
                    <upsap_points module="upsap">
                        <title>UPS AP Shipments</title>
                        <sort_order>31</sort_order>
                        <action>adminhtml/upsap_points</action>
                    </upsap_points>
                </children>
            </sales>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <upsap>
                                            <title>UPS Access Point</title>
                                        </upsap>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <sales module="sales">
                            <children>
                                <upsap_points module="upsap">
                                    <title>UPS AP Shipments</title>
                                    <sort_order>50</sort_order>
                                    <action>adminhtml/upsap_points</action>
                                </upsap_points>
                            </children>
                        </sales>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <upsap>
                    <file>upsap.xml</file>
                </upsap>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <upsap>
                <class>SgEcom_Upsap_Model</class>
                <resourceModel>upsap_mysql4</resourceModel>
            </upsap>
            <upsap_mysql4>
                <class>SgEcom_Upsap_Model_Mysql4</class>
                <entities>
                    <accesspoint>
                        <table>upsapaccesspoint</table>
                    </accesspoint>
                    <method>
                        <table>upsapshippingmethod</table>
                    </method>
                    <errorlog>
                        <table>upsap_error</table>
                    </errorlog>
                </entities>
            </upsap_mysql4>
        </models>
        <resources>
            <upsap_setup>
                <setup>
                    <module>SgEcom_Upsap</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upsap_setup>
            <upsap_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </upsap_write>
            <upsap_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </upsap_read>
        </resources>
        <blocks>
            <upsap>
                <class>SgEcom_Upsap_Block</class>
            </upsap>
        </blocks>
        <helpers>
            <upsap>
                <class>SgEcom_Upsap_Helper</class>
            </upsap>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <ups_order_place_after>
                        <class>upsap/observer</class>
                        <method>frontorderaccesspoint</method>
                    </ups_order_place_after>
                </observers>
            </sales_order_place_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <ups_order_save_before>
                        <class>upsap/observer</class>
                        <method>frontordersavebefore</method>
                    </ups_order_save_before>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <default>
        <carriers>
            <upsap>
                <active>0</active>
                <model>upsap/carrier</model>
                <title>UPS Access Point</title>
                <rate>1</rate>
                <sort_order>1</sort_order>
                <sallowspecific>0</sallowspecific>
                <price_format>2</price_format>
            </upsap>
        </carriers>
    </default>
</config>